---
layout: default
---
<div class="home">

  {{ content }}

  <div style="background-color: rgb(220,220,220); padding: 20px">

    <header class="post-header">
      <h1 class="post-title">{{ "Hi, I'm Mark" | escape }}</h1>
    </header>

    <h2>
    Welcome! My name is Mark Roepke and I'm a data scientist interested in data science education.
    </h2>
    <center>
    <img src="assets/mark.jpg" style="width:23%; height:23%; padding:20px 20px 20px 20px; display:block;"/>
    </center>
    <p>
    For my day job, I work as a Curriculum Engineer at Databricks in the education space and focus on the design and development of Spark-focused training curriculum and certification exams for developers and data scientists.
    </p>
    <p>
    I am specifically interested in the area of data science education and provide data science workshops in various data science technologies. I have given workshops in corporate and university settings in R, Python, and GitHub. I am certified by <a href="http://www.rstudio.com" class="class2">RStudio</a> to design and deliver <a href="http://www.tidyverse.org" class="class2">tidyverse</a> training workshops. If you're interested in connecting about providing a data science training workshop, feel free to contact me using a method at the bottom of the site. 
    </p>

  </div>

  <br>

  <header class="post-header">
    <h1 class="post-title">{{ "Blog" | escape }}</h1>
  </header>

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p>
          {{ post.excerpt | strip_html | truncatewords:75 }}
        </p>  
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
