---
layout: default
---

<div class="home">

  <header class="post-header">
    <h1 class="post-title">{{ "About Me" | escape }}</h1>
  </header>

  {{ content }}

  <img src="assets/mark.jpg" style="float:left; padding:0px 30px 30px 30px; display:block;"/>

  <p>
  My name is Mark Roepke and I am a Senior Data Scientist at <a href="http://www.8451.com" class="class2">84.51°</a>. I currently work in the Digital Personalization space and focus on the personalization of recipe-based services and the development of intelligent meal-planning services.
  </p>
  <p>
  I am specifically interested in the area of data science education. I enjoy designing, developing, and delivering introductory R- and Python-based data science training workshops for people interested in entering the field of data science and intermediate workshops for people interested in expanding their skillset. I am certified by <a href="http://www.rstudio.com" class="class2">RStudio</a> to design and deliver <a href="http://www.tidyverse.org" class="class2">tidyverse</a> training workshops and am resposible for the following R and Python training workshops at 84.51°: introduction to R, intermediate dplyr, RMarkdown, xaringan, and introduction to Python for data science. I have contributed to and delivered trainings in GitHub, intermediate R and intermediate Python. 
  </p>
  <br>
  <p>
  A lot of my time also goes to developing and contributing to 84.51° and open-source data science software. I developed and maintain the flxr R package and I have contributed to the cattonum R package available on CRAN. I am also a co-maintainer of 84.51°'s generic R package and the primary developer and maintainer of 84.51°'s data visualization and branding R package. 
  </p>
  <p>
  I graduated from <a href="http://www.xavier.edu" class="class2">Xavier University</a> with a B.A. in Economics & Mathematics in 2016 and I am currently pursuing my M.S. in Computer Science at <a href="http://www.jhu.edu" class="class2">Johns Hopkins University</a>. 
  </p>
  <p>
  Outside of data science, my interests tend to be fleeting. Over the last few years I've found myself interested in soccer, cooking, hiking, and running.
  </p>

</div>
